.footer {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0px;
  z-index: 100;
}

.app-logo {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon:hover {
  color: #0077b5;
  transform: scale(1.1);
}