.main-container {
  min-height: 100vh;
}

.main-container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-pagination-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
}
.top-pagination-wrapper p {
  font-size: 20px;
  color: #878787;
  font-weight: 500;
}

.top-pagination-wrapper p span {
  color: #0056b3;
  font-weight: bold;
  word-break: break-word;
}

.container {
  flex: 1;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  padding: 16px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .top-pagination-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px 10px;
    gap: 0px;
  }

  .top-pagination-wrapper p {
    font-size: 16px;
  }
}
